<h1 class="condition-index-page-title">All Conditions</h1>

<% @conditions.each do |condition| %>
  <div class="condition-info" id="condition_<%= condition.id %>">
    <h2><a class="condition-date" href="/conditions/<%= condition.id %>"><%= condition.measurement_date %></a></h2>
  </div>
<% end %>









