<div class="wrapper">
  <h1>Enter weather condtions</h1>
  <form action="/conditions" method="POST">
    <div class="form-group">
      <input type="date" class="form-control" name="condition[measurement_date]"  />
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="condition[max_temperature_f]" placeholder="Max temperature (&deg;F)"/>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="condition[mean_temperature_f]" placeholder="Mean temperature (&deg;F)" />
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="condition[min_temperature_f]" placeholder="Min temperature (&deg;F)" />
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="condition[humidity_percent]" placeholder="Humidity (%)" />
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="condition[visibility_miles]" placeholder="Visibility (miles)" />
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="condition[mean_wind_speed_mph]" placeholder="Mean wind speed (mph)" />
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="condition[precipitation_inches]" placeholder="Precipitation (inches)" />
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" class="button btn btn-primary" />
    </div>
  </form>
</div>
