<h1>Station Dashboard</h1>

<h2>Total Number of Stations</h2>
<p><%= @stations.total %></p>

<h2>Average Available Bikes</h2>
<p><%= @stations.average_available_bikes %></p>

<h2>Most Bikes Available at Station</h2>
<p><%= @stations.most_bikes_available_at_station %></p>
