<h1 class="edit-station-page-title">Edit Station</h1>
<form action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="PUT" />
  <div class="form-group row">
    <input type="text" name="station[name]" value="<%= @station.name %>"/>
  </div>
  <div class="form-group row">
    <input type="integer" name="station[dock_count]" value="<%= @station.dock_count %>"/>
  </div>
  <div class="form-group row">
    <input type="date" name="station[installation_date]" value="<%= @station.installation_date %>">
  </div>
  <input class="button" type="submit" value="Update station"/>
</form>
