<form action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="PUT" />
  <input type="text" name="station[name]" value="<%= @station.name %>"/><br/>
  <input type="integer" name="station[dock_count]" value="<%= @station.dock_count %>"/><br/>
  <input type="date" name="station[installation_date]" value="<%= @station.installation_date %>"><br/>
  <input type="submit" value="Update station"/>
</form>
