<form action="/stations" method="post">
  <p>Enter a new station:</p>
  <input type="text" name="station[name]" placeholder="name"/><br/>
  <input type="integer" name="station[dock_count]" placeholder="dock count"/><br/>
  <input type="text" name="station[city]" placeholder="city"><br/>
  <input type="text" name="station[installation_date]" placeholder="installation date"><br/>
  <input type="submit" value="Submit"/>
</form>
