<form action="/stations" method="post">
  <p>Enter a new station:</p>
  <input type="text" name="station[name]" placeholder="name"/><br/>
  <input type="number" step="1" name="station[dock_count]" placeholder="dock count"/><br/>
  <input type="date" name="station[installation_date]" placeholder="installation date"><br/>
  <input type="submit" value="Submit"/>
</form>
