body {
  background: #B993D6; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #B993D6, #8CA6DB);
  background: -o-linear-gradient(right, #B993D6, #8CA6DB);
  background: linear-gradient(to left, #B993D6, #8CA6DB); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
