<form action="/cities/<%= @city.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <input type="text" name="city[name]" value=<%= @city.name %> />
  <input type="submit" value="Update city" />
</form>
