<nav class="navbar">
  <a class="navbar-brand" href="#">
    <img src="../bike_share_white.svg" alt="bike share logo" height="100px"/>
  </a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#">Link</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Link</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Link</a>
   </li>
  </ul>
</nav>
